<div>
  <div class="modal-header">
    <h3> Changelog for {{build.timestamp | date:'yyyy-MM-dd HH:mm:ss Z'}} </h3>
  </div>
  <div class="modal-body">
    <ul class="unstyled">
      <li style="font-size:small" ng-repeat="item in build.changeSet.items"><pre>{{ item.rev | limitTo:1 }}: {{item.msg}}</pre></li>
    </ul>
  </div> 
  <div class="modal-footer">
    <button class="btn btn-warning cancel" ng-click="close()">Close</button>
  </div>
</div>
