<div class="navbar navbar-fixed">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" hg-href="#/"><img src="images/logo.png"></a>
      <ul class="nav">
        <li ui-route="#/cameras" ng-class="{active: $uiRoute}">
          <a ng-href="#/cameras" ui-route>Cameras</a>
        </li>
        <li>
          <a href="/api" ui-route>Developer's docs</a>
        </li>
      </ul>
    </div> <!-- container -->
  </div> <!-- .navbar-inner -->
</div> <!-- .navbar -->
